@import url(./style/Sidebar.css);
@import url(./style/Content.css);
@import url(./style/NewPatient.css);
@import url(./style/NotFound.css);

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.app {
  display: flex;
  height: 100vh;
}